.timer-position {
    position: fixed;
    top: 10%; // Ajusta según tu preferencia
    right: 1%; // Ajusta según tu preferencia
    z-index: 1000; // Asegúrate de que esté visible por encima del fondo
    background-color: rgba(255, 255, 255, 0.85); // Fondo blanco con más opacidad para un mejor contraste
    padding: 15px; // Un padding un poco mayor para darle más espacio
    border-radius: 12px; // Bordes redondeados para suavizar el diseño
    border: 2px solid #D3D3D3; // Borde gris claro para que resalte sutilmente
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); // Añadir una sombra para un efecto de elevación
    width: fit-content; // Ajustar el ancho al contenido
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .operation-position{
    position: fixed;
  }
  .save-score-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; // Asegúrate de que esté por encima del fondo y demás componentes
  }

  .save-score-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; // Asegúrate de que esté por encima del fondo y demás componentes
  }