.stage-one-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.color-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px; /* Espacio entre la paleta y los botes */
  gap: 10px;
  position: relative;
  z-index: 10; /* Asegura que la paleta de colores esté encima del panel de información */
}

.color-info-panel {
  width: 250px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; /* No interfiere con los clics en la paleta */
  top: 0;
  left: 300px; /* Coloca el panel a la derecha de la paleta */
  z-index: 5;
}

.color-item {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.color-item:hover {
  transform: scale(1.1);
}

.bucket-container {
  position: relative;
  width: 100px; /* Ajusta al tamaño de tu imagen */
  height: 120px; /* Ajusta al tamaño de tu imagen */
  cursor: pointer;
}

.bucket-image {
  width: 100%;
  height: auto;
  display: block;
}

.bucket-color-overlay {
  position: absolute;
  top: 25%; /* Ajusta según la imagen */
  left: 10%; /* Ajusta según la imagen */
  width: 80%; /* Ajusta según el área del bucket */
  height: 50%; /* Ajusta según el área del bucket */
  background-color: transparent;
  border-radius: 50%; /* Para un aspecto circular si corresponde */
  pointer-events: none; /* Permite que el clic pase al contenedor */
  display: none;
}

.buckets {
  display: flex;
  justify-content: space-between; /* Para distribuir los buckets en toda la fila */
  gap: 20px; /* Espacio entre los buckets */
  flex-wrap: wrap; /* Para permitir que los buckets se envuelvan si es necesario */
  margin-top: 20px; /* Opcional: para agregar separación con el resto de los elementos */
}


button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 0 0 10px 0;
}

.modal-content p {
  margin: 10px 0 20px 0;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #45a049;
}
