<div class="stage-one-container">
    <div class="color-palette">
      <!-- Mostrar solo los colores desbloqueados -->
      <ng-container *ngFor="let color of colors">
        <div *ngIf="color.unlocked" 
             class="color-item" 
             [ngStyle]="{'background-color': color.color}" 
             (click)="mixColors(color.color)">
        </div>
      </ng-container>
    </div>
  
    <div class="buckets">
      <div *ngFor="let bucket of emptyBuckets; let i = index" 
           class="bucket" 
           [ngStyle]="{'background-color': bucket.color}"
           (click)="selectBucket(i)">
      </div>
    </div>
    
    <button (click)="resetGame()">Reset Game</button>
  </div>
  