.stage-one-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 6 columnas por fila */
  gap: 10px; /* Espaciado entre los colores */
  margin-right: 20px; /* Espacio con el panel de información */
}


.color-info-panel {
  width: 250px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; /* No interfiere con los clics en la paleta */
  top: 0;
  left: 300px; /* Coloca el panel a la derecha de la paleta */
  z-index: 5;
}

.reset {
  margin-left: 20px;
}

.color-item {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.color-item:hover {
  transform: scale(1.1);
}

.bucket-container {
  position: relative;
  width: 100px; /* Ajusta al tamaño de tu imagen */
  height: 120px; /* Ajusta al tamaño de tu imagen */
  cursor: pointer;
}

.bucket-image {
  width: 100%;
  height: auto;
  display: block;
}

.bucket-color-overlay {
  position: absolute;
  top: 25%; /* Ajusta según la imagen */
  left: 10%; /* Ajusta según la imagen */
  width: 80%; /* Ajusta según el área del bucket */
  height: 50%; /* Ajusta según el área del bucket */
  background-color: transparent;
  border-radius: 50%; /* Para un aspecto circular si corresponde */
  pointer-events: none; /* Permite que el clic pase al contenedor */
  display: none;
}

.buckets {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas por fila */
  gap: 20px; /* Espaciado entre los botes */
  margin-top: 20px;
  justify-content: center; /* Centra los botes horizontalmente */
}



button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.modal {
  position: absolute; /* Posición absoluta */
  top: 50%;
  left: 45%;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 0 0 10px 0;
}

.modal-content p {
  margin: 10px 0 20px 0;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
