<div class="stage-one-container">
  <div class="color-palette">
    <ng-container *ngFor="let color of colors">
      <div *ngIf="color.unlocked" 
           class="color-item" 
           [ngClass]="{ 'selected': color.color === selectedColor }"
           [ngStyle]="{'background-color': colorHex(color.color)}"
           (click)="selectColor(color.color)">
      </div>
    </ng-container>
  </div>

  <!-- Panel lateral para mostrar la información del color seleccionado -->
  <div class="color-info-panel" *ngIf="selectedColor">
    <h3>Información del Color</h3>
    <p><strong>Color:</strong> {{ selectedColor }}</p>
    <p><strong>Nombre:</strong> {{ selectedColorName }}</p>
    <p><strong>Código Hex:</strong> {{ colorHex(selectedColor) }}</p>
    <p><strong>Descripción:</strong> {{ selectedColorDescription }}</p>
  </div>
  

  <div class="buckets">
    <div *ngFor="let bucket of emptyBuckets; let i = index" class="bucket-container" (click)="selectBucket(i)">
      <img [src]="bucket.image" class="bucket-image" alt="Bucket">
    </div>    
  </div>

  <button class="reset" (click)="resetGame()">Limpiar pintura</button>
</div>

<div class="modal" >
  <div class="modal-content">
    <h2>¡Felicidades!</h2>
    <p>Has desbloqueado todos los colores.</p>
    <button (click)="unlockAllColors()">Siguiente</button>
  </div>
</div>
