<div class="topbar-container">
  <!-- Sección de perfil con avatar e información en el lado izquierdo -->
  <div class="profile-section">
    <img class="profile-avatar" [src]="'assets/img/avatars/avatar' + (user?.avatarId || 1) + '.png'" alt="Avatar" />
    <div class="profile-info">
      <p>Hola, {{ user?.name }}</p>
    </div>
  </div>

  <!-- Botones dinámicos -->
 

<!-- Sección de perfil y botón de cerrar sesión juntos en el lado derecho -->
<div class="profile-logout-section">
  <div class="menu-icons">
    <app-topbar-button
      *ngFor="let button of buttons"
      [icon]="button.icon"
      (onClick)="navigateTo(button.route)"
    ></app-topbar-button>
  </div>
  <button (click)="logout()" class="logout-button">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
    <span>Cerrar Sesión</span>
  </button>
</div>
</div>