<div class="topbar-container">
  <div class="profile-section">
    <img class="profile-avatar" src="../../../../../assets/icons/avatar.png" alt="Avatar" />
    <div class="profile-info">
      <p>Hola, {{ user?.name }}</p>
      <span class="user-points">⭐ 07</span>
    </div>
  </div>

  <div class="menu-icons">
    <!-- Navegación de rutas trasladadas desde el sidebar -->
    <a *ngFor="let route of permittedRoutes" 
       routerLink="{{ route.path }}" 
       routerLinkActive="active" 
       class="menu-item">
      <img src="../../../../../assets/icons/{{ route.data.icon }}" alt="{{ route.data.name }}" class="icon" />
      <span>{{ route.data.name }}</span>
    </a>
  </div>

  <div class="logout-section">
  <ul class="nav-menus mb-0">
    <li class="profile-nav onhover-dropdown pe-0 py-0">
      <app-my-account></app-my-account>
    </li>
  </ul>
</div>
</div>