<div class="game-container">
<!---Columna izquierda-->
  <div class="left-column">
    <div class="mathleship-container">
      <div class="column-labels">
        <div *ngFor="let col of ['A', 'B', 'C', 'D', 'E', 'F']" class="column-label">
          {{ col }}
        </div>
      </div>
    
      <div class="board-with-row-labels">
        <!-- Indicadores de filas -->
        <div class="row-labels">
          <div *ngFor="let row of [1, 2, 3, 4, 5, 6]" class="row-label">
            {{ row }}
          </div>
        </div>
    
        <!-- Tablero -->
        <div class="board">
          <div *ngFor="let row of board; let i = index" class="board-row">
            <div *ngFor="let cell of row; let j = index" class="board-cell" (click)="selectCell(i, j)">
              {{ cell }}
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="powerups-section">
      <h3>PowerUps</h3>
      <div class="powerups">
        <div class="powerup" *ngFor="let powerup of [1, 2, 3, 4]"></div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <!-- Temporizador -->
    <app-timer [initialTime]="1000"></app-timer>
    
    <div class="ships-container">
      <img src="assets/img/mathleship/barco4.png" alt="Barco 4" class="ship-image" />
      <img src="assets/img/mathleship/barco3.png" alt="Barco 3" class="ship-image" />
      <img src="assets/img/mathleship/barco2.png" alt="Barco 2" class="ship-image" />
      <img src="assets/img/mathleship/barco1.png" alt="Barco 1" class="ship-image" />
    </div>
    
    <!-- Sección de operación matemática -->
    <div class="math-operation" *ngIf="mathVisible">
      <div class="number">{{ number1 }}</div>
      <div class="operator">{{ operator }}</div>
      <div class="number">{{ number2 }}</div>
      <div class="equals">=</div>
      <input type="text" [(ngModel)]="userAnswer" class="answer-input" />
      <button (click)="submitAnswer()" class="btn-ready">Listo</button>
    </div>
  </div>
</div>

  