.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mathleship-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .column-labels {
      display: grid;
      grid-template-columns: 50px repeat(5, 60px);
      margin-left: 80px;
      text-align: center;
  
      .column-label {
        font-weight:600;
        font-family: "fredoka";
        font-size: 40px;
        color: var(--color-oscuro);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
    }
  
    .board-with-row-labels {
      display: flex;
  
      .row-labels {
        display: grid;
        grid-template-rows: repeat(5, 60px);
        margin-right: 10px;
        text-align: center;
  
        .row-label {
          font-weight:600;
          font-family: "fredoka";
          font-size: 40px;
          color: var(--color-oscuro);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
        }
      }
  
  
    .board {
      display: grid;
      grid-template-rows: repeat(6, 50px);
      grid-template-columns: repeat(6, 50px);
      gap: 10px;
  
      .board-cell {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 10px;
        background-color: var(--color-gris);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 4px solid transparent;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

        &.cell-hit {
          border-color: var(--color-rojo);
        }
      
        &.cell-miss {
          border-color: var(--color-gris);
        }
      
        img {
          width: 70%;
          height: 70%;
        }
  
        &:hover {
          background-color: var(--color-grisOscuro);
        }
      }

      .board-cell.hover-column{
        background-color: var(--color-grisOscuro);
        transition: background-color 0.3s ease;
      }

      .board-cell.hover-row{
        background-color: var(--color-grisOscuro);
        transition: background-color 0.3s ease;
      }

      .board-cell.hover-cross {
        background-color: var(--color-grisOscuro); /* Color para el hover cruz */
        transition: background-color 0.3s ease;
      }
      
      
    }
  }
}

.powerups-section {
  margin-top: 20px;
  text-align: center;

  h3 {
    font-weight: bold;
    font-size: 30px;
    color: var(--color-oscuro);
    margin-bottom: 30px;
  }

  .powerups {
    display: flex;
    gap: 10px;
    justify-content: center;

    .powerup {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; /* Esto asegura que el botón sea clickeable */
      transition: transform 0.3s;

      .powerup:hover {
        transform: scale(1.3);
      }
      
      .powerup.used .powerup-img {
        filter: grayscale(100%); /* Aplica escala de grises */
        opacity: 0.1;            /* Reduce un poco la opacidad para enfatizar el estado deshabilitado */
        pointer-events: none;    /* Desactiva el clic */
      }
      
      .powerup-img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      

      &:hover {
        transform: scale(1.1);
      }
  
      &.active {
        background-color: var(--color-grisOscuro);
        //border: 5px solid var(--color-azul);
      }
    }
  }
}

.right-column app-timer {
  margin-bottom: 20px;
}

.ships-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ship-image {
  width: 100px;
  height: auto;
  opacity: 0.5;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.ship-image.ship-destroyed {
  filter: brightness(0.5) sepia(1) hue-rotate(-50deg) saturate(5);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    font-family: Fredoka;

    h2 {
      color: var(--color-oscuro);
      font-family: Fredoka;
      font-size: 30px;
    }

    .math-operation {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 20px;

      .number,
      .operator,
      .equals {
        font-size: 35px;
        font-weight: bold;
      }

      .answer-input {
        width: 70px;
        text-align: center;
        font-size: 35px;
        padding: 5px;
        border: none;
        background-color: var(--color-gris);
        border-radius: 5px;
      }
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      gap: 10px;
    }

    .btn-ready{
    width: 50%;
    height: 60px;
    background-color: transparent;
    color: var(--color-azul);
    padding: 10px 20px;
    border: 4px solid var(--color-azul);
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: Fredoka;
    font-weight: 500;
  }

  .btn-ready:hover {
    background-color: var(--color-azul);
    color: var(--color-claro);
    transform: scale(1.05);
  }
  }
}

.success-message {
  color: var(--color-verde);
  font-weight: bold;
}

.error-message {
  color: var(--color-rojo);
  font-weight: bold;
}

.hit-animation {
  position: absolute;
  top: -115px;
  left: -77px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1000;
}

.hit-video {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}

.quick-feedback-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-oscuro);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  z-index: 1000;
  border-radius: 8px;
  pointer-events: none;
}

.quick-feedback-overlay.success {
  background-color: var(--color-claro)
}

.quick-feedback-overlay.error {
  background-color: var(--color-claro)
}

.displayExample p, h1, h2, h3{
  font-family: Fredoka;
}

#scaleDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
}

#scaleInfo{
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--sidebar-border);
  font-family: Fredoka;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-oscuro);
  font-weight: 700;
  margin-bottom: -70px;
  z-index: 2;
  background-color: white;
}
#scaleInfo h1{
  font-weight: 800;
  font-size: 2rem;
  background-color: var(--color-azul);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}

#scaleInfo h2{
  font-weight: 700;
}


