.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mathleship-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .column-labels {
      display: grid;
      grid-template-columns: 50px repeat(5, 60px);
      margin-left: 80px;
      text-align: center;
  
      .column-label {
        font-weight:600;
        font-family: "fredoka";
        font-size: 40px;
        color: var(--color-oscuro);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
    }
  
    .board-with-row-labels {
      display: flex;
  
      .row-labels {
        display: grid;
        grid-template-rows: repeat(5, 60px);
        margin-right: 10px;
        text-align: center;
  
        .row-label {
          font-weight:600;
          font-family: "fredoka";
          font-size: 40px;
          color: var(--color-oscuro);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
        }
      }
  
  
    .board {
      display: grid;
      grid-template-rows: repeat(6, 50px);
      grid-template-columns: repeat(6, 50px);
      gap: 10px;
  
      .board-cell {
        width: 50px;
        height: 50px;
        margin: 10px;
        background-color: var(--color-gris);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 4px solid transparent;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

        &.cell-hit {
          border-color: var(--color-rojo);
        }
      
        &.cell-miss {
          border-color: var(--color-gris);
        }
      
        img {
          width: 70%;
          height: 70%;
        }
  
        &:hover {
          background-color: var(--color-grisOscuro);
        }
      }
    }
  }
}

.powerups-section {
  margin-top: 20px;
  text-align: center;

  h3 {
    font-weight: bold;
    color: var(--color-oscuro);
    margin-bottom: 10px;
  }

  .powerups {
    display: flex;
    gap: 10px;

    .powerup {
      width: 50px;
      height: 50px;
      background-color: var(--color-grisOscuro);
      border-radius: 8px;
    }
  }
}

.right-column app-timer {
  margin-bottom: 20px;
}

.ships-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ship-image {
  width: 60px;
  height: auto;
  opacity: 0.5;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 20px;
      color: var(--color-oscuro);
    }

    .math-operation {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .number,
      .operator,
      .equals {
        font-size: 24px;
        font-weight: bold;
      }

      .answer-input {
        width: 50px;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        border: 1px solid var(--color-grisOscuro);
        border-radius: 5px;
      }
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      gap: 10px;
    }

    .btn-ready,
  .btn-close {
    width: 45%; /* Cada botón ocupa el 45% del ancho */
    background-color: var(--color-azul);
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

    .btn-ready {
      background-color: var(--color-azul);

      &:hover {
        background-color: var(--color-grisOscuro);
        transform: scale(1.05);
      }
    }

    .btn-close {
      background-color: var(--color-rojo);
      background-image: none;

      &:hover {
        background-color: var(--color-grisOscuro);
        transform: scale(1.05);
      }
    }
  }
}
