.profile-wrapper {
  width: 100%;
  display: flex;
  padding: 20px;
}

.profile-container {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

/* Columna izquierda para el avatar */
.profile-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.3rem;
}

.avatar-img {
  width: 450px;
  height: 450px;
  border-radius: 15px;
  object-fit: cover;
}

.avatar-edit-icon {
  position: relative;
  top: -420px;
  right: -160px;
  width: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.avatar-edit-icon:hover{
  opacity: 0.5;
}

/* Columna derecha para la información */
.profile-right {
  flex: 2;
  padding-left: 20px;
}

.profile-info .info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.info-column {
  width: 48%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight:500;
  //display: block;
  //margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Fredoka;
  font-size: 40px;
}

.info-box {
  background-color: var(--color-gris);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-family: Sarabun;
  font-size: 30px;
}

.info-box span {
  flex: 1;
  
}

.edit-icon {
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.edit-icon img:hover{
  opacity: 0.5;
}

.edit-icon img {
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
}

/* Logros y Equipos */
.profile-achievements, .profile-teams {
  margin-top: 20px;
}

.changingColumn p{
  font-family: Sarabun;
  font-size: 30px;
  line-height: 35px;
}

.action-button {
  width: 70%;
  background-color: transparent;
  color: var(--color-azul);
  border: 5px solid var(--color-azul);
  padding: 20px 25px;
  border-radius: 13px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-family: Fredoka;
  font-size: 30px;
  font-weight: 600;
  align-self: center;
  transition: 0.3s;
}

.achievement-icon {
  width: 230px;
  display: block;
  margin-top: 15px;
  align-self: center;
}

.action-button:hover {
  background-color: var(--color-azul);
  color: var(--color-claro);
}

input{
  border: none;
  border-radius: 8px; /* Ajusta el radio según el diseño */
  background-color: var(--color-gris); /* Color de fondo similar al estilo original */
  padding: 0px; /* Ajusta el espacio interno */
  font-size: 30px; /* Asegúrate de que la fuente sea consistente */
  width: 100%;
  font-family: Sarabun;
}

/* Estilos para cuando el campo está enfocado */
input[type="text"]:focus {
  outline: none; /* Quita el contorno de enfoque */
  box-shadow: 0px 0px 5px #ddd; /* Puedes darle un sombreado suave */
}

.info-box {
  position: relative;
}

.edit-icons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  width: 45px;
  cursor: pointer;
}

input[type="text"] {
  width: calc(100% - 50px);
}

