<div class="reset-password-container">
  <h4>Restablece tu Contraseña</h4>
  <form (ngSubmit)="onSubmit()">
    <label for="newPassword">Nueva Contraseña:</label>
    <div class="input-with-icon">
      <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility(1)">
        <span class="material-icons">{{ showNewPassword ? 'visibility_off' : 'visibility' }}</span>
      </button>
    </div>

    <label for="confirmPassword">Confirma tu Contraseña:</label>
    <div class="input-with-icon">
      <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required (blur)="confirmPasswordTouched = true"/>
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility(2)">
        <span class="material-icons">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</span>
      </button>
    </div>
    <div *ngIf="confirmPasswordTouched && confirmPassword !== newPassword" class="input-error-message">
      Las contraseñas no coinciden.
    </div>

    <button type="submit" [disabled]="newPassword !== confirmPassword || !newPassword">Enviar</button>
  </form>
  <p [ngClass]="{ 'error-message': isError, 'success-message': !isError }">{{ message }}</p>
</div>
