@defer {
<div class="row p-4">
</div>
<div class="row p-4 displayExample">
    <div *ngIf="currentTextIndex === 0">
        <h1>Primera Pagina</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat pariatur ut, illum voluptatum doloribus consequatur nihil suscipit soluta, quae et reiciendis vero dolorum! Natus fugit aut velit aliquam nisi!</p>
    </div>
    <div *ngIf="currentTextIndex === 1">
        <h2>Segunda Pagina</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat pariatur ut, illum voluptatum doloribus consequatur nihil suscipit soluta, quae et reiciendis vero dolorum! Natus fugit aut velit aliquam nisi!</p>
    </div>
    <div *ngIf="currentTextIndex === 2">
        <h3>Tercera</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat pariatur ut, illum voluptatum doloribus consequatur nihil suscipit soluta, quae et reiciendis vero dolorum! Natus fugit aut velit aliquam nisi!</p>
    </div>
    <div *ngIf="currentTextIndex === 3">
        <h3>Tercera</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat pariatur ut, illum voluptatum doloribus consequatur nihil suscipit soluta, quae et reiciendis vero dolorum! Natus fugit aut velit aliquam nisi!</p>
    </div>
    <div *ngIf="currentTextIndex === 3">
        <h3>Tercera</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat pariatur ut, illum voluptatum doloribus consequatur nihil suscipit soluta, quae et reiciendis vero dolorum! Natus fugit aut velit aliquam nisi!</p>
    </div>
    <div class="col-12 display-key-board" *ngIf="currentTextIndex === 3">
        <ng-container *ngFor="let key of keys">
            <app-key
                name= "{{key.name}}"
                value= "{{key.value}}"
                backgroundColor= "{{key.backgroundColor}}"
                color= "{{key.color}}"
            />
        </ng-container>
    </div>
    <app-games-knoledge-base 
        [numberOfPages] = 4
        (textIndexChange)="updateTextIndex($event)"
    />
    <button (click)="saveScore()">save score</button>
    <ng-template #scoreModal>
        <app-games-save-score></app-games-save-score>
    </ng-template>
</div>
}