.display-key-board{
    display: flex;
    align-items: center;
    background-image: url('../../../../assets/img/keyboard/Jungle.png');
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center;
    justify-content: center;
}

.displayExample p, h1, h2, h3{
    font-family: Fredoka;
}

