
<h2>{{title}}</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th *ngIf="canPerformActions()" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categories; trackBy: trackById">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td *ngIf="canPerformActions()">
          <button (click)="callModalAction.emit(item);" class="btn btn-warning me-2" type="button"><i class="fas fa-pen"></i></button>
          <button (click)="callDeleteAction.emit(item)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
      <tr *ngIf="!categories || categories.length === 0">
        <td colspan="7">
          <div class="d-flex justify-content-center align-items-center w-100">
            <p class="mb-0">There are no products</p>
          </div>
        </td>
      </tr>
  </tbody>
</table>