.key{
    min-width: 30px;
    padding: 5px;
    height: 20vh;
    max-height: 20vh;
    min-height: 15vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid saddlebrown;
    color: black;
    font-weight: bold;
}
