<div class="register-container">
  <div class="register-wrapper align-items-center justify-content-center register-full-height">
    <div class="register-card">
      <div class="register-form">
        <div class="register-content">
          <form (ngSubmit)="handleSignup($event)" #frm="ngForm" autocomplete="off">
            <div class="register-title">
              <h4>¡Comencemos la Aventura!</h4>
              <small>¿Ya comenzaste el viaje? <a href="/login" class="login-link">Inicia sesión aquí</a></small>
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="name" class="input-label">
                  Nombre
                </label>
                <input #name="ngModel" type="text" class="input-field" id="name" name="name"
                  placeholder="Nombre" [(ngModel)]="user.name" (blur)="name.control.markAsTouched()" [ngClass]="{
                    'input-invalid': name.invalid && name.touched,
                    'input-valid': name.valid && name.touched
                  }" required />
                <div *ngIf="name.invalid && name.touched" class="input-error-message">
                  Ingrese su nombre
                </div>
              </div>
              <div class="input-wrapper">
                <label for="lastname" class="input-label">
                  Apellido
                </label>
                <input #lastname="ngModel" type="text" class="input-field" id="lastname" name="lastname"
                  placeholder="Apellido" [(ngModel)]="user.lastname" (blur)="lastname.control.markAsTouched()" [ngClass]="{
                    'input-invalid': lastname.invalid && lastname.touched,
                    'input-valid': lastname.valid && lastname.touched
                  }" required />
                <div *ngIf="lastname.invalid && lastname.touched" class="input-error-message">
                  Ingrese su apellido
                </div>
              </div>
            </div>
            <div class="input-wrapper">
              <label for="email" class="input-label">
                Correo electrónico
              </label>
              <input #email="ngModel" type="text" class="input-field" id="email" name="email"
                placeholder="correoejemplo@gmail.com" [(ngModel)]="user.email" (blur)="email.control.markAsTouched()" [ngClass]="{
                  'input-invalid': email.invalid && email.touched,
                  'input-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid && email.touched" class="input-error-message">
                Ingrese un correo válido
              </div>
            </div>
            <div class="input-wrapper">
              <label for="active" class="input-label">
                Avatar Id
              </label>
              <input #active="ngModel" type="number" class="input-field" id="active" name="active"
                placeholder="1" [(ngModel)]="user.active" (blur)="active.control.markAsTouched()" [ngClass]="{
                  'input-invalid': active.invalid && active.touched,
                  'input-valid': active.valid && active.touched
                }" required />
              <div *ngIf="active.invalid && active.touched" class="input-error-message">
                Ingrese active status correcto
              </div>
            </div>
            <div class="input-wrapper">
              <label for="avatarId" class="input-label">
                Avatar Id
              </label>
              <input #avatarId="ngModel" type="number" class="input-field" id="avatarId" name="avatarId"
                placeholder="1" [(ngModel)]="user.avatarId" (blur)="avatarId.control.markAsTouched()" [ngClass]="{
                  'input-invalid': avatarId.invalid && avatarId.touched,
                  'input-valid': avatarId.valid && avatarId.touched
                }" required />
              <div *ngIf="avatarId.invalid && avatarId.touched" class="input-error-message">
                Ingrese avatarId correcto
              </div>
            </div>

            <div class="input-wrapper">
              <label for="password" class="input-label">Contraseña</label>
              <input #password="ngModel" type="password" class="input-field" id="password" name="password"
                placeholder="************" [(ngModel)]="user.password" (blur)="password.control.markAsTouched()" [ngClass]="{
                  'input-invalid': password.invalid && password.touched,
                  'input-valid': password.valid && password.touched
                }" required />
              <div *ngIf="password.invalid && password.touched" class="input-error-message">
                Ingrese la contraseña correcta.
              </div>
            </div>

            <div class="register-actions text-center">
              <button class="btn-primary register-button" type="submit">
                Comencemos
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="register-image">
        <a routerLink="/">
        <img src="../../../../assets/img/signup/cohete.png" alt="Cohete">
        </a>
      </div>
    </div>
  </div>
</div>
