<div class="register-container">
  <div class="register-wrapper align-items-center justify-content-center register-full-height">
    <div class="register-card">
      <div class="register-form">
        <div class="register-content">
          <form (ngSubmit)="handleSignup($event)" #frm="ngForm" autocomplete="off">
            <div class="register-title">
              <h4>¡Comencemos la Aventura!</h4>
              <small>¿Ya comenzaste el viaje? <a href="/login" class="login-link">Inicia sesión aquí</a></small>
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="name" class="input-label">Nombre</label>
                <input #name="ngModel" type="text" class="input-field" id="name" name="name"
                  placeholder="Nombre" [(ngModel)]="user.name" (blur)="name.control.markAsTouched()" [ngClass]="{
                    'input-invalid': name.invalid && name.touched,
                    'input-valid': name.valid && name.touched
                  }" required />
                <div *ngIf="name.invalid && name.touched" class="input-error-message">
                  Ingrese su nombre
                </div>
              </div>
              <div class="input-wrapper">
                <label for="lastname" class="input-label">Apellido</label>
                <input #lastname="ngModel" type="text" class="input-field" id="lastname" name="lastname"
                  placeholder="Apellido" [(ngModel)]="user.lastname" (blur)="lastname.control.markAsTouched()" [ngClass]="{
                    'input-invalid': lastname.invalid && lastname.touched,
                    'input-valid': lastname.valid && lastname.touched
                  }" required />
                <div *ngIf="lastname.invalid && lastname.touched" class="input-error-message">
                  Ingrese su apellido
                </div>
              </div>
            </div>
            <div class="input-wrapper">
              <label for="email" class="input-label">Correo electrónico</label>
              <input #email="ngModel" type="text" class="input-field" id="email" name="email"
                placeholder="correoejemplo@gmail.com" [(ngModel)]="user.email" (blur)="validateEmail()" [ngClass]="{
                  'input-invalid': email.invalid && email.touched,
                  'input-valid': email.valid && email.touched
                }" required />
              <div *ngIf="emailError" class="input-error-message">
                {{ emailError }}
              </div>
            </div>

            <div class="input-wrapper password-wrapper">
              <label for="password" class="input-label">Contraseña</label>
              <div class="input-with-icon">
                <input #password="ngModel" [type]="showPassword1 ? 'text' : 'password'" class="input-field"
                  id="password" name="password" placeholder="************" [(ngModel)]="user.password"
                  (blur)="password.control.markAsTouched()" [ngClass]="{
                    'input-invalid': password.invalid && password.touched,
                    'input-valid': password.valid && password.touched
                  }" required />
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility(1)">
                  <span class="material-icons">{{ showPassword1 ? 'visibility_off' : 'visibility' }}</span>
                </button>
              </div>
              <div *ngIf="password.invalid && password.touched" class="input-error-message">
                Ingrese la contraseña correcta.
              </div>
            </div>

            <div class="input-wrapper password-wrapper">
              <label for="confirm-password" class="input-label">Confirmar Contraseña</label>
              <div class="input-with-icon">
                <input [type]="showPassword2 ? 'text' : 'password'" class="input-field" id="confirm-password"
                  name="confirmPassword" placeholder="************" [(ngModel)]="confirmPassword"
                  (blur)="confirmPasswordTouched = true" [ngClass]="{
                    'input-invalid': confirmPasswordTouched && confirmPassword !== user.password,
                    'input-valid': confirmPasswordTouched && confirmPassword === user.password
                  }" required />
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility(2)">
                  <span class="material-icons">{{ showPassword2 ? 'visibility_off' : 'visibility' }}</span>
                </button>
              </div>
              <div *ngIf="confirmPasswordTouched && confirmPassword !== user.password" class="input-error-message">
                Las contraseñas no coinciden.
              </div>
            </div>

            <div class="register-actions text-center">
              <button class="btn-primary register-button" type="submit">
                Comencemos
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="register-image">
        <a routerLink="/">
          <img src="../../../../assets/img/signup/cohete.png" alt="Cohete">
        </a>
      </div>
    </div>
  </div>

  <!-- Componente de alerta -->
  <app-alert-modal
    *ngIf="showAlert"
    [alertType]="alertType"
    [title]="alertTitle"
    [message]="alertMessage"
    [buttonText]="alertButtonText"
    (closeAlert)="handleAlertClose()">
  </app-alert-modal>
</div>
