.user-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category {
  cursor: pointer;
  width: 190px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 10px solid white;
  box-shadow: 18px 14px 31px -10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  width: 100px;
  height: auto;
}

.category-title {
  margin-top: 40px;
  font-weight: 500;
  color: var(--color-oscuro);
  font-size: 30px;
  font-family: Fredoka;
}

.game-list {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;

  h2 {
    font-size: 30px;
    color: var(--color-oscuro);
    margin-top: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px;
      cursor: pointer;
      color: var(--color-oscuro);
      border-bottom: 1px solid #ddd;
      font-family: Sarabun;
      font-size: 25px;
    }

    li:hover {
      background-color: var(--color-gris);
    }
  }
}
.game-list ul li {
  padding: 15px;
  cursor: pointer;
  color: var(--color-oscuro);
  border: 2px solid var(--color-grisOscuro);
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: "Sarabun", sans-serif;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.game-list ul li:hover {
  background-color: var(--color-tecnologia); 
  color: #6c8cff;
  transform: scale(1.06);
}

