<div class="user-dashboard-container custom-size">
  <div class="categories">
    <div *ngFor="let category of categories" class="category-container">
      <div class="category" [ngStyle]="{'background-color': getCategoryColor(category)}" (click)="selectCategory(category)">
        <img [src]="'assets/img/Panel juegos/' + category.toLowerCase() + '.png'" alt="{{ category }}" />
      </div>
      <p class="category-title">{{ category }}</p>
    </div>
  </div>

  <div class="game-list" *ngIf="showGameList">
    <h2>Juegos de {{ selectedCategoryGames[0]?.categories }}</h2>
    <ul>
      <li *ngFor="let game of selectedCategoryGames" (click)="playGame(game.route)">
        {{ game.name }}
      </li>
    </ul>
  </div>
</div>
