<div class="ltr">
  <div class="page-wrapper compact-wrapper">
    <app-topbar></app-topbar>

    <div class="page-body-wrapper">
      <div class="page-body full-width">
        <main class="full-width">
          <router-outlet></router-outlet>
        </main>
      </div>


    </div>
    <footer class="footer ">
      <div class="full-width" >
        <div class="row">
          <div class="col-md-12 footer-copyright text-center">
            <p class="mb-0">
              Created by EnvisionaryTech &copy; 2024. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
