<div class="stage-two-container">
  <div *ngIf="!isQuizCompleted(); else scoreModal">
    <h2>Pregunta {{ currentQuestionIndex + 1 }}/{{ questions.length }}</h2>
    <p>{{ questions[currentQuestionIndex].question }}</p>
    <div class="options">
      <button class="fancyButton" 
        *ngFor="let option of questions[currentQuestionIndex].options"
        [ngClass]="{
          correct: showResult && option === questions[currentQuestionIndex].correctAnswer,
          incorrect: showResult && selectedOption === option && !isAnswerCorrect
        }"
        (click)="selectAnswer(option)">
        {{ option }}
      </button>
    </div>
    <p *ngIf="showResult">
      {{ isAnswerCorrect ? '¡Correcto!' : 'Incorrecto, la respuesta era: ' + questions[currentQuestionIndex].correctAnswer }}
    </p>
  </div>
  
  <!-- Aquí se muestra el modal al final del cuestionario -->
  <ng-template #scoreModal>
    <div class="modal-overlay"></div> <!-- Fondo oscuro de overlay -->
    <div class="modal-container">
      <app-games-save-score
        [selectedGameId]="selectedGame"
        [correctAnswers]="correctAnswers"
        [wrongAnswers]="wrongAnswers"
        (resetQuizEvent)="resetQuiz()" 
        (unlockAllQuestionsEvent)="unlockAllQuestions()">
      </app-games-save-score>
    </div>
  </ng-template>
</div>
