<div class="stage-two-container">
  <div *ngIf="!isQuizCompleted(); else scoreModal">
    <h2>Pregunta {{ currentQuestionIndex + 1 }}/{{ questions.length }}</h2>
    <p>{{ questions[currentQuestionIndex].question }}</p>
    <div class="options">
      <button
        *ngFor="let option of questions[currentQuestionIndex].options"
        [ngClass]="{
          correct: showResult && option === questions[currentQuestionIndex].correctAnswer,
          incorrect: showResult && selectedOption === option && !isAnswerCorrect
        }"
        (click)="selectAnswer(option)">
        {{ option }}
      </button>
    </div>
    <p *ngIf="showResult">
      {{ isAnswerCorrect ? '¡Correcto!' : 'Incorrecto, la respuesta era: ' + questions[currentQuestionIndex].correctAnswer }}
    </p>
  </div>
  <ng-template #scoreModal>
    <app-games-save-score
    [selectedGameId] = "selectedGame"
    [correctAnswers]= "correctAnswers"
    [wrongAnswers]= "wrongAnswers"
    (resetQuizEvent)="resetQuiz()" 
    (unlockAllQuestionsEvent)="unlockAllQuestions()"
    />
  </ng-template>
</div>
