<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="login-image">
        <a routerLink="/">
          <img src="../../../../assets/img/login/mono-astronauta.png" alt="Astronauta" />
        </a>
      </div>
      <div class="login-form">
        <div class="login-main">
          <form (ngSubmit)="handleLogin($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4>¡Sigamos con la aventura!</h4>
            </div>

            <div class="input-wrapper">
              <label for="email" class="input-label">Correo electrónico</label>
              <input #email="ngModel" type="text" class="input-field" id="email" name="email"
                placeholder="tucorreo@gmail.com" [(ngModel)]="loginForm.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid && email.touched" class="input-error-message">
                Por favor ingresa un correo 
              </div>
            </div>
            <div class="input-wrapper password-wrapper">
              <label for="password" class="input-label">Contraseña</label>
              <div class="input-with-icon">
                <input #password="ngModel" [type]="showPassword1 ? 'text' : 'password'" class="input-field"
                  id="password" name="password" placeholder="************" [(ngModel)]="loginForm.password"
                  (blur)="password.control.markAsTouched()" [ngClass]="{
                    'input-invalid': password.invalid && password.touched,
                    'input-valid': password.valid && password.touched
                  }" required />
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility(1)">
                  <span class="material-icons">{{ showPassword1 ? 'visibility_off' : 'visibility' }}</span>
                </button>
              </div>
              <div *ngIf="password.invalid && password.touched" class="input-error-message">
                Por favor ingresa una contraseña 
              </div>
            </div>

            <div class="form-group mb-0 text-center">
              <button class="btn btn-primary btn-block w-100 login-button" type="submit">
                Iniciar Sesión
              </button>
              <div class="form-links">
                <p class="text-muted mt-3">
                  ¿Olvidaste tu contraseña? <a routerLink="/forgot-password">Recupérala aquí</a>
                </p>
              <p class="text-muted mt-2">¿Aún no has comenzado tu aventura?</p>
              <a href="/signup" class="register-link">Regístrate aquí</a>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Componente de alerta -->
  <app-alert-modal
    *ngIf="showAlert"
    [alertType]="alertType"
    [title]="alertTitle"
    [message]="alertMessage"
    [buttonText]="alertButtonText"
    (closeAlert)="closeAlertModal()">
  </app-alert-modal>
</div>
