.game-background {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 75px);
  background-color: #a3d3a1;
  z-index: 500; 
  display: flex;
  align-items: center;
  justify-content: center;

  .background-image {
    position: relative;
    background-image: url('../../../../assets/img/tree-game/fondo-arbol1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 85%;
    height: 100%;
    transition: filter 1s ease-in-out;

    &.sunny {
      filter: brightness(1.2); 
    }

    &.cloudy, &.rainy {
      filter: brightness(0.8) saturate(0.7); 
    }

    &.rainy {
      filter: brightness(0.7) saturate(0.6); 
    }


    &.cloudy::before,
    &.rainy::before {
      content: '';
      position: absolute;
      top: -110px;
      left: 0;
      width: 100%;
      height: 30%;
      background-image: url('../../../../assets/img/tree-game/nube.png'); 
      background-repeat: repeat-x;
      background-position: top;
      background-size: 20%;
      pointer-events: none;
      z-index: 1; 
    }

    
    &.rainy::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../../assets/img/tree-game/lluvia.png');   background-repeat: repeat;
      opacity: 0.5; 
      animation: rain-fall 1.5s linear infinite; 
      pointer-events: none;
      background-size: 30%;
      z-index: 2; 
    }
  }

  @keyframes rain-fall {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 300px;
    }
  }
}
