<div class="dashboard-container">
  <div class="user-info">
    <div class="user-details">
      <h2>Hola, {{ user?.name || 'Usuario' }}!</h2>
      <p>¿Qué vamos a hacer hoy?</p>
    </div>
    <img [src]="'assets/img/avatars/avatar' + (user?.avatarId || 1) + '.png'" alt="Avatar" class="user-avatar" />

  </div>
  <div class="actions">
    <app-button
      *ngFor="let button of buttons"
      [label]="button.label"
      [icon]="button.icon"
      [color]="button.color"
      (onClick)="navigateTo(button.route)"
    ></app-button>
  </div>
</div>
