.dashboard-container {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos al inicio vertical */
    margin: 20px;
    width: 96.5%;
    padding: 10px;
    height: 100%; /* Ajuste dinámico según el contenido */
    background-color: #f5f5f5;
    border-radius: 20px;
  
   
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .user-info {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center;
    justify-content: space-between; /* Espaciado entre información y avatar */
    width: 50%; /* Ocupa la mitad del contenedor principal */
    text-align: left; /* Alinea el texto a la izquierda */
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
    .user-details {
      flex: 1; /* Ocupa el espacio disponible */
      text-align: center;
      h2 {
     
        font-family: 'Fredoka', sans-serif;
        font-weight: 600;
        margin: 0;
        font-size: 40px;
        color: #1f2067;
      }
  
      p {
        font-family: 'Sarabun', sans-serif;
        margin: 20px 0 0 0;
        color: #666;
        font-size: 25px;
      }
    }
  
    .user-avatar {
      flex: 0;
      width: 55%;
      border-radius: 50px;
      border: 3px solid #4c75e5; /* Borde para resaltar el avatar */
      margin-left: 10px; /* Espacio entre información y avatar */
    }
  }
  
  
  .actions {
    display: flex;
    flex-direction: column; /* Botones apilados verticalmente */
    align-items: center;
    margin-left: 30px;
    justify-content: space-evenly; /* Espaciado uniforme entre botones */
    width: 50%; /* Ocupa la mitad del contenedor principal */
    gap: 15px; /* Espaciado adicional entre botones */
  
    /* Añade un diseño responsivo */
    @media (max-width: 768px) {
      width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }
  
  }
  